<launch>
  <rosparam file = "$(find control_command_translator)/config/parameters.yaml" />

  <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>
  
  <node pkg="nodelet" type="nodelet" name="Selector" args="load control_command_translator/ControlCommandTranslatorNodelet standalone_nodelet" output="screen"/>	
	  
</launch>
