<?xml version="1.0"?>

<model>
  <name>slide_long</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Sven Schepp</name>
    <email>name@email.address</email>
  </author>

  <description>
    A long slide used in the lamp-relocation demo
  </description>
</model>
