<launch>
  <rosparam file = "$(find failsafe_consistent_planner)/config/parameters.yaml" />
  <rosparam file = "$(find human_cylinder)/config/sensors_parameters.yaml" />
  <rosparam file = "$(find robot_reach)/config/robot_parameters.yaml" />

  <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>
  
  <node pkg="nodelet" type="nodelet" name="FailsafeConsistentNodelet" args="load online_verification/FailsafeConsistentNodelet standalone_nodelet" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="HumanCylinderNodelet" args="load human_cylinder/HumanCylinderNodelet standalone_nodelet" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="RobotReachNodelet" args="load robot_reach/RobotReachNodelet standalone_nodelet" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="VerifyISONodelet" args="load verify_iso/VerifyISONodelet standalone_nodelet" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="safe_trajectory_selector" args="load safe_trajectory_selector/SafeTrajectorySelectorNodelet standalone_nodelet"/>

  <node name="modrob_worksation" type="robot_control_interface" pkg="modrob_workstation" output="screen"/>

  <node name="initialisation" type="initialisation_node" pkg="initialisation"/>

  <!-- RVIZ -->
  <node pkg="nodelet" type="nodelet" name="RvizMarkerNodelet" args="load rviz_marker/RvizMarkerNodelet standalone_nodelet"/>
  
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find my_schunk_control)/config/config.rviz" />
	  
</launch>
