<?xml version="1.0"?>

<model>
  <name>Human Work</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Jakob Thumm</name>
    <email>jakob.thumm@tum.de</email>
  </author>

  <description>
    A human performs action 62.01 of the CMU motion database (BVH import)
  </description>

</model>
