<launch>
  <rosparam file = "$(find human_reachability_analysis)/config/sensors_parameters.yaml" />

  <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>
  
  <node pkg="nodelet" type="nodelet" name="IntersectionChecker" args="load intersection_checker/IntersectionChecker standalone_nodelet" output="screen"/>	
	  
</launch>
