<?xml version="1.0"?>

<model>
  <name>modrob</name>
  <version>1.0</version>
  <sdf version='1.4'>modular-robot.sdf</sdf>

  <author>
    <name>Sven Schepp</name>
    <email>me@my.email</email>
  </author>

  <description>
    A modular robot capable of beeing assembled in different configuration using parts defined in the Modules-Database.
  </description>
</model>

