<launch>
	<!-- Convert xacro and put on parameter server -->
	<param name="robot_description" command="$(find xacro)/xacro $(find modrob_simulation)/urdf/gripper.urdf" />
	
	<node name="gazebo" pkg="gazebo_ros" type="gazebo" args="$(find modrob_simulation)/gazebo/empty_world.launch" required="true" />

	<!-- Spawn a robot into Gazebo -->
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model gripper" />
</launch>
